<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:jee="http://www.springframework.org/schema/jee"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd">
    <!--DAO-->
    <!--<bean id="mySqlDAO" class="com.fonarik94.dao.MySQLPostDao" scope="prototype"/>-->
    <!--Logger-->
    <bean id="logger" class="org.apache.logging.log4j.LogManager" factory-method="getLogger" scope="prototype"/>
    <!--ViewResolver-->
<!--    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>-->

<!--    <bean name="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/blog?useSSL=false&amp;useUnicode=true&amp;serverTimezone=Europe/Kiev&amp;autoCommit=false&amp;zeroDateTimeBehavior=convertToNull" />
        <property name="username" value="root" />
        <property name="password" value="Gerasimenko07" />
    </bean>-->

    <context:component-scan base-package="com.fonarik94"/>
    <context:annotation-config/>
    <!--<mvc:resources mapping="/resources/**" location="/resources/" cache-period="1209600" />-->

</beans>