<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="fatal" monitorInterval="300">

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36}:%L - %msg%n"/>
        </Console>

        <Console name="Warning" target="SYSTEM_ERR">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36}:%L - %msg%n"/>
        </Console>

        <File name="FileOutput" fileName="logs/output.log" bufferedIO="true" advertise="true">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36}:%L - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="warn" additivity="false">
            <AppenderRef ref="Warning"/>
        </Root>
        <Logger level="fatal" name="fatal">
            <AppenderRef ref="FileOutput"/>
        </Logger>
        <!-- <Logger name="com.company.Server" level="trace" additivity="true">
             <AppenderRef ref="File1"/>
         </Logger>-->
    </Loggers>

</Configuration>