/*@import "fonts.css";*/
body{
    margin:0;
    display: flex;
    background-color: #f0f0f0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    font-family: Arial;
}
/*h1{*/
    /*font-size: 18pt;*/
    /*font-weight: bold;*/
    /*margin: 0;*/
/*}*/
/*hr{*/
    /*width: 100%;*/
/*}*/
/*h2{*/
    /*margin: 0;*/
/*}*/
/*h5{*/
    /*margin: 2px;*/
    /*color: gray;*/
/*}*/
/*A, A:visited{*/
    /*color: black;*/
/*}*/
.center-area{
    background-color: #51BBFE;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}
.center{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 15px;
    width: 300px;
    box-shadow: 1px 5px 20px rgba(0,0,0,0.5);
    border-radius: 5px;
    justify-content: center;
    align-items: stretch;
    transition: all 0.4s ease-in-out;
}
#authform, #registerform, #wol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}
#loginmethod{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    font-size: 120%;
    padding-bottom: 10px;
}
#auth, #register{
    transition: all 0.3s ease-in-out;

}
#auth:hover, #register:hover{
    font-size: 120%;
}

#block:hover{
    background: #8FF7A7;
}
#topbar{
    background-color: #51BBFE;
}
#topbar #logo{
    background-color: #8FF7A7;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 300%;
}
#menu{
    display: flex;
    flex-grow: 1;
}
#menu .item{
    font-family:Arial;
    font-style:normal;
    font-size:135%;
    padding:10px;
    margin-left: 45px;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    transition: background 0.4s ease-in-out;
}
#menubar{
    background-color: #51BBFE;
    display: flex;
    box-shadow: 1px 5px 20px rgba(0,0,0,0.5);
    position: sticky;
    width: 100%;
    margin-bottom: 10px;
}
#menu .item:hover, #social .socialbutton:hover, #content .item:hover, .postEditorItem:hover, .post .square{
    background: #8FF7A7;
    cursor: pointer;
}
#menubar #social{
    display: flex;
}

#social .socialbutton {
    padding-left: 10px;
    padding-right: 10px;
    flex-basis: 48px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    transition: background 0.4s ease-in-out;
}
#content{
    background-color: #f0f0f0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
}

#content #postEditorForm {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    height: auto;
    padding: 20px;
    margin: 20px;
    background-color: white;
    width: 90%;
}
.postHeader{
    font-size: 18pt;
}
.editorItems{
    display: flex;
    flex-basis: inherit;
    flex-direction: row;
}
.postEditorItem, #block{
    display: block;
    background: #51BBFE;
    border-radius: 5px;
    padding: 10px;
    margin-right: 15px;
    transition: background 0.4s ease-in-out;
}

.square a{
    text-decoration: none;
    cursor: pointer;
}

.square img{
    max-width: 100%;
}
.square{
    background-color: white;
    box-shadow: 4px 4px 20px rgba(0,0,0,0.6);
    display: flex;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    flex-direction: column;
    width: 1024px;
    max-width: 90%;
}
#editor{
    display: flex;
    align-items: stretch;
    flex-direction: column;
    height: auto;
    background-color: white;
    width: 100%;
}
.error{
    font-weight: bold;
    color: firebrick;
}
